.breadcrumbs {
    font-size: 20px;
    margin-bottom: 55px;
    @include tablet() {
        display: none;
    }
    &__item {
        margin: 15px;
        position: relative;
        &:first-child {
            margin-left: 0;
        }
        &::after {
            content: "/";
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-40%);
        }
        &:last-child::after {
            content: "";
        }
    }
}