.nav {
    display: none;
    height: 30px;
    align-items: center;
    justify-content: center;
    @include tablet() {
        display: flex;
    }
    &__burger {
        width: 35px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 35px;
            height: 3px;
            background-color: white;
            border-radius: 5px;
            position: absolute;
            top: -12px;
            transition: 0.5s;
        }
        &::after {
            content: "";
            display: block;
            width: 35px;
            height: 3px;
            background-color: white;
            border-radius: 5px;
            position: absolute;
            top: 12px;
            transition: 0.5s;
        }
    }
}
.nav_active {
    .nav__burger {
        background: transparent;
    }
    .nav__burger::before {
        top: 0;
        transform: rotate(45deg);
    }
    .nav__burger::after {
        top: 0;
        transform: rotate(-45deg);
    }
}