.formlit {
    border: 1px solid black;
    padding: 40px 50px 35px;
    margin-bottom: 50px;
    @include tablet() {
        padding: 40px 20px 35px;
    }
    &__title {
        font-size: 47px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__main-title {
        margin-bottom: 40px;
    }
    &__row {
        display: flex;
        margin-bottom: 30px;
        @include tablet() {
            flex-direction: column;
        }
    }
    &__block {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:first-child {
            margin-right: 30px;
            @include tablet() {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    &__subtitle {
        margin-right: 15px;
        @include tablet() {
            display: none;
        }
    }
    &__input {
        height: 35px;
        width: 100%;
        padding: 5px;
    }
    &__send {
        width: 40%;
        padding: 10px 0;
        background: black;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 29px;
        font-weight: bold;
        border: transparent;
        border-radius: 35px;
        @include tablet() {
            width: 100%;
        }
    }
}