.sectionfour {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 130px;
    &__item {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}