.sectionthree {
    &__item {
        margin: 0 4% 40px;
        padding: 53px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0,.2);
        @include laptop() {
            padding: 25px;
        }
        &_dashed {
            border: 5px dashed grey;
        }
        &_pic {
            padding: 0;
            margin: 90px 0 120px;
            height: 370px;
            @include phone() {
                display: flex;
                justify-content: center;
            }
        }
    }
    &__svg {
        height: 80px;
        width: 80px;
        stroke-width: 3px;
        stroke: black;
        fill: transparent;
        &_mb768 {
            @include tablet() {
                margin: 30px;
            }
        }
    }
    &__pic {
        margin-top: -70px;
    }
}
.w-100 {
    width: 100%;
}